.App {
  display: flex;
  gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.App div{
  text-decoration: none;
    padding: 20px;
    background-color: #3d3da385;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}